*.csv
# файл .gitignore не работает - не выполняет функцию по исключению файлов из индекса. Выяснить причину проблемы и устранить её не удалось. 
# Пришлось исключать файлы из индекса вручную камандами git rm
